.login {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 2px);
    height: 100%;
    float: right;
}

.login label,
.login input {
    font-size: large;
}

.login input {
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 2px gray solid;
    width: 70%;
}

.login input[type=submit] {
    background-color: #28a745;
    color: white;
    border: none;
}

.title {
    display: flex;
    height: 100%;
    width: 50%;
    float: left;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.hr {
    height: 100%;
    margin: 0;
    float: left;
}